body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;

    margin: 0;
}

a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.dark-bg {
    background-color: #1f2937;
    color: #f9faf8;
}

.grey-bg {
    background-color: #e5e7eb;
    color: #1f2937;
}

nav {
    flex-shrink: 0;
    padding: 16px;
}

nav ul {
    list-style-type: none;

    display: flex;
    align-items: center;
    gap: 16px;

    margin: auto;
    padding: 0;
    max-width: 950px;
}

.logo {
    margin-right: auto;
    font-size: 24px;
}

.container {
    max-width: 950px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 16px;
    gap: 60px;
    flex-wrap: wrap;
    min-height: 350px;
}

.hero .image {
    background-color: #6D747D;
    flex: 1 1 200px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    height: 250px;
}

.hero .header {
    flex: 1 1 200px;
}

.hero .text {
    font-size: 18px;
    color: #e5e7eb;
}

.header .title {
    font-size: 48px;
    font-weight: 800;
}

.button {
    color: #f9faf8;
    background-color: #3882f6;
    padding: 8px 24px;
    text-align: center;
    width: 72px;
    border-radius: 10px;
    margin-top: 8px;
}

.button:hover {
    cursor: pointer;
}

.info .container {
    flex-direction: column;
    gap: 44px;
}

.info .title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 60px;
}

.card {
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card .image {
    height: 150px;
    outline: 5px solid #3882f6;
    border-radius: 10px;
}

.quote .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0;
    max-width: 800px;
}

.quote .text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote .author {
    font-weight: 600;
    font-size: 24px;
    align-self: flex-end;
}

.call-to-action .banner {
    background-color: #3882f6;
    color: #f9faf8;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
    min-height: 128px;
    padding: 16px;

    border-radius: 10px;
}

.call-to-action .title {
    font-weight: 900;
    font-size: 24px;
}

.call-to-action .text {
    font-size: 18px;
}

.call-to-action .button {
    outline: 2px solid #f9faf8;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 32px;
}